.image-container{
    display: flex;
   justify-content: center;
   align-items: center;
    height: 100vh;
   
 
}


img.home {
    width: 250px;
    top:550px;
    right:150px;
    position: absolute;
    border:dashed 10px #CA8E82;     
   
}

.scale {
    width: 15%;
    height: 25%;
    margin-bottom: 10px;
    padding: 20px;
    
}

h1{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 90px;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9B99F;
    width: 100%;
    padding: 15px;
    
}

.owner{
    font-size: 28px;
    font-weight: bold;

}

.tab-links{
    list-style-type:none;
    font-size: 25px;
    display: flex;
    flex-direction: row;
}

.tab-links li{
    margin-left: 2px;
    

}


.tab-links a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    transition: 0.3s;  
}

.tab-links a.active{
    border-bottom: 3px solid #F2E7DD;
    color: #CA8E82;
}

body{
    background-color: #CA8E82;
    
}

.inner-container{
    background-color: #F2E7DD;
    padding: 20%;
    width: 50%;
    margin: auto;
}


.description-container{
    display: flex;
    width: 50%;
    position: relative;
    
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
   
}




.outer-container{
    display: block;
    align-items: center;
    margin: auto;     
}

blockquote{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size:xx-large;
    text-align: center;
    margin-bottom: auto;
    position: absolute;
    bottom: -55%;
    left: 110px;
    color:#D9B99F
}

.image{
    display: flex;
    justify-content: flex-start;
    width: 30vw;
    height: 30vh;
    margin-left:auto;
   margin-top: -120px;    
}

.text{
    color: white;
    line-height: 30px;
    display: flexbox;
    

}

h2{
    text-align: center;
    color: white;
}

.portfolio-image{
    width: 240px;
    margin-left: 1em;
    margin-bottom: 1em;
    float: right;
    border: 4px solid #CA8E82;
}

.projects{
    background-color: #F2E7DD;
    padding: 0.5em
    
}

.underline{
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}